<ion-view view-title="Orders">
  <ion-content class="padding">
      <div class ="List">
        <form ng-submit ="submitOrderDetails">
          <label class="item item-input">
            <input type="text" placeholder="Reference Name">
          </label>
          <label class="item item-input">
            <textarea rows="8"placeholder="Order Details"></textarea>
          </label>          
          <button class="button button-full button-positive" type ="submit">
            Submit Order
          </button>           
        </form>
      </div>
  </ion-content>
</ion-view>
