<ion-view view-title="Drop">
  <ion-content class="padding">
      <div class="list">
        <label class="item item-input item-select">
          <div class="input-label">
            Males Fed
          </div>
          <select>
            <option selected>0</option>
            <option>1</option>          
            <option>2</option>
            <option>3</option> 
            <option>4</option>
            <option>5</option>
            <option>6</option> 
            <option>7</option>            
          </select>
        </label>
        <label class="item item-input item-select">
          <div class="input-label">
            Males Clothed
          </div>
          <select>
            <option selected>0</option>
            <option>1</option>    
            <option>2</option>
            <option>3</option> 
            <option>4</option>
            <option>5</option>
            <option>6</option> 
            <option>7</option>            
          </select>
        </label>
        <label class="item item-input item-select">
          <div class="input-label">
            Females Fed
          </div>
          <select>
            <option selected>0</option>
            <option>1</option>    
            <option>2</option>
            <option>3</option> 
            <option>4</option>
            <option>5</option>
            <option>6</option> 
            <option>7</option>            
          </select>
        </label> 
        <label class="item item-input item-select">
          <div class="input-label">
            Females Clothed
          </div>
          <select>
            <option selected>0</option>
            <option>1</option>    
            <option>2</option>
            <option>3</option> 
            <option>4</option>
            <option>5</option>
            <option>6</option> 
            <option>7</option>            
          </select>
        </label>      
      </div>
    <button ng-controller="EncounterCtrl" class="button button-full button-positive" data-ng-click="submitEncounter()">
      Submit Encounter
    </button>
  </ion-content>
</ion-view>
