<ion-view hide-back-button="true" view-title="Contacts" >
  <ion-content class="padding">
    <h4 class="routeSelectionText">Select from the active routes below</h4>
    <ion-list>
      <div class="card">
        <ion-item class="item item-text-wrap" type="item-text-wrap" >
           <ul>
            <li>Name: Dublin Regional Homeless Executive</li>
            <li>Address: 6-9 Conygham Road, Dublin 8 </li> 
            <a href="tel:+1-800-555-5555">Call 1800 707 707</a>
          </ul> 
        </ion-item>
        <ion-item class="item item-text-wrap" type="item-text-wrap" >
           <ul>
            <li>Name: Peter McVerry Trust</li>
            <li>Address: 29 Mountjoy Square, Dublin 1</li> 
            <a href="tel:+1-800-555-5555">Call 01 823 0776</a>
          </ul> 
        </ion-item>  
        <ion-item class="item item-text-wrap" type="item-text-wrap" >
           <ul>
            <li>Name: Dublin Simon Emergency Shelter</li>
            <li>Address: 27 Harcourt Street, Dublin 2</li> 
            <a href="tel:+1-800-555-5555">Call 01 475 9357</a>
          </ul> 
        </ion-item>         
     </div>   
    </ion-list>
  </ion-content>
</ion-view>

