<ion-view view-title="Login">
  <ion-content class="padding">
    <div class="list list-inset" ng-controller = "LoginCtrl">
      <form ng-submit ="login()">
        <label class="item item-input">
          <input type="text" placeholder="Email" ng-model="email">
        </label>
        <label class="item item-input">
          <input type="text" placeholder="Password" ng-model="password">
        </label>
        <button class="button button-full button-positive" type ="submit">
          Login
        </button>   
      </form>
    </div>  
  </ion-content>
</ion-view>  