<ion-view view-title="Route Selection" >
  <ion-content class="padding">
    <h4 class="routeSelectionText">Select from the active routes below</h4>
    <button class="button button-block button-outline button-positive" data-ng-click="routeA()">
      Route One
    </button>
    <button class="button button-block button-outline button-positive" data-ng-click="routeB()">
      Route Two
    </button>
    <button class="button button-block button-outline button-positive" data-ng-click="routeC()">
      Route Three
    </button>
    <button class="button button-block button-outline button-positive" data-ng-click="routeD()">
      Route Four
    </button>    
  </ion-content>
</ion-view>
