<ion-view view-title="Login">
  <ion-content class="padding">
    <div class="list list-inset" ng-controller = "LoginCtrl">
      <form ng-submit ="login()">
        <label class="item item-input">
          <input type="text" placeholder="Email" ng-model="email">
        </label>
        <label class="item item-input">
          <input type="text" placeholder="Password" ng-model="password">
        </label>
        <button class="button button-full button-positive" type ="submit">
          Login
        </button>   
      </form>
    </div>  
    
    <div class="list" ng-controller = "TestCtrl">
         <ion-list>
          <ion-item ng-repeat="meetup in meetups" type="item-text-wrap" >
             <li>{{meetup.name}}</li>
          </ion-item>
        </ion-list>    

      <form ng-submit ="createTest()">
        <label class="item item-input">
        <input type="text" placeholder="text" ng-model ="testText">
        <button class="button button-positive" type ="submit">
            Add
        </button>    
        </label>
      </form>
    </div>
    
  </ion-content>
</ion-view>  